@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body, html {
  font-family: 'Inter', sans-serif;
  background-color: #E5E5E5;
  margin: 0;
}

.container {
 width: 550px;
 margin: auto;
}

/* Navbar Styles */

.navbar {
  width: 550px;
  height: 50px;
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar span {
  color: white;
  font-weight: 500;
}

.navbar-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar img {
  margin-right: 7px;
}

/* Cards Styles */

.cards-container {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.cards-description {
  margin-left: 19px;
}

.cards-image {
  width: 145px;
  height: 168px;
  border-radius: 5px;
}

.cards-country {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.17em;
  margin-left: 4px;
  margin-right: 12px;
}

.cards-maps {
  font-size: 10px;
  font-weight: 400;
  color: #918E9B;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 20px
}

h2 {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  margin-bottom: 9px;
}

.cards-description > p {
  color:#2B283A;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
}


